.show-pwd {
    margin: -12px 10px -12px 0px;
    display: flex;
    position: relative;
    padding: 5px;
    border-radius: 50%;
    aspect-ratio: 1;
    align-items: center;
    user-select: none;
    justify-content: center;
  }
  
  .show-pwd::after {
    content: "";
    width: 0%;
    box-sizing: border-box;
    border-radius: 50%;
    aspect-ratio: 1;
    position: absolute;
    background-color: #b1dbff30;
    transition: width 0s;
  }
  
  .show-pwd.activeA::after {
    width: 100%;
    opacity: 1;
    transition: width 0.3s, opacity 0.5s;
  }
  
  .show-pwd.activeB::after {
    opacity: 0;
    width: 100%;
    transition: opacity 0.3s;
  }
  
  .show-pwd:hover {
    background-color: #8ac8ff30;
  }
  
  .logo.closedEye {
    height: 16px;
    margin-left: auto;
    cursor: pointer;
    z-index: 10;
  }
  
  .logo.openEye {
    height: 13px;
    margin-left: auto;
    cursor: pointer;
    z-index: 10;
  }
  
  .ripple-selection {
    border-radius: 50%;
    background-color: red;
    display: none;
    aspect-ratio: 1;
    width: 30px;
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 0;
    z-index: 9;
  }