.visitor-entry {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border: 2px solid red;
    flex-direction: column;
}

.visitor-entry h1 {
    font: bold 50px Outfit;
}

.visitor-entry .visitor {
    border: 2px solid;
}